loglevel=error
save-exact=false
legacy-peer-deps=false
strict-ssl=true
package-lock=true
fund=false
audit=false
fetch-timeout=600000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
