loglevel=error
save-exact=false
legacy-peer-deps=true
strict-ssl=false
package-lock=false
fund=false
audit=false
fetch-timeout=300000
fetch-retries=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=1
progress=false
